section
  .container-fluid
    .row.about
      .col-6.about-titel.text-center
        h1 < ABOUT >
      .col-6
        div.about-text.text-left
          h2 I’m a front-end web developer based in Berlin. 
          p
            | I create high performance & rich interactive websites that work across all platforms & devices.
            | Although I'm very familiar with using frameworks like: 
            span
              | React.js 
            | my websites are primarily hand-coded using: 
            span
              |HTML5, CSS3 & JavaScript.
            | With a strong emphasis on "Progressive Enhancement", I look for creative ways to push the boundaries of website front-end code without compromising on browser support and performance.
            
  
