section.row.about
  .col-6.about-titel
    h1 < CONTACT>
  .col-6
    div.about-text
      h3 If you want nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam – you are very welcome to contact me.
      p
        | nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam 
        br
        br
      h2 Maximiliana Coaquira
      p | UX Design & Art Direction
        br
        | hello@melaniedaveid.com
        br
        | +49 176 81403068
