header.text-center
  h3.maxi-brand WEB DEVELOPER
  main.hero
    h1.maxi-heading  Maximiliana Coaquira
    |
    h5.maxi-heading
      | I am a Frontend Developer nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
  nav.d-flex.justify-content-center
    a.nav-link.active.navi(href='#') ABOUT 
    a.nav-link.navi(href='#') WORK 
    a.nav-link.navi(href='#') SERVICES 
    a.nav-link.navi(href='#') CONTACT
