section.row.about
  .col-6.work-title
    h1 < WORK >
    nav.d-flex.justify-content-center
      a.nav-link.active.liste(href='#') example /
      a.nav-link.liste(href='#') example /
      a.nav-link.liste(href='#') example /
      a.nav-link.liste(href='#') example /
  .col-6.work-liste
    .card-box
      .card.card-work
        .card-body
          h4.card-title Card title
          h6.card-subtitle.mb-2.text-muted Card subtitle
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card's content.
          a.card-link(href='#') Card link
          a.card-link(href='#') Another link
      .card.card-work
        .card-body
          h4.card-title Card title
          h6.card-subtitle.mb-2.text-muted Card subtitle
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card's content.
          a.card-link(href='#') Card link
          a.card-link(href='#') Another link 
      .card.card-work
        .card-body
          h4.card-title Card title
          h6.card-subtitle.mb-2.text-muted Card subtitle
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card's content.
          a.card-link(href='#') Card link
          a.card-link(href='#') Another link   
      .card.card-work
        .card-body
          h4.card-title Card title
          h6.card-subtitle.mb-2.text-muted Card subtitle
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card's content.
          a.card-link(href='#') Card link
          a.card-link(href='#') Another link
      .card.card-work
        .card-body
          h4.card-title Card title
          h6.card-subtitle.mb-2.text-muted Card subtitle
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card's content.
          a.card-link(href='#') Card link
          a.card-link(href='#') Another link 
      .card.card-work
        .card-body
          h4.card-title Card title
          h6.card-subtitle.mb-2.text-muted Card subtitle
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card's content.
          a.card-link(href='#') Card link
          a.card-link(href='#') Another link   
